#container {
    width: 55%;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
}
#storytext img {
    display: none;

}
#storytext {
    line-height: 24px;
    font-size: 16px;

}
#title {
    font-size: 28px;
    color: #000;
    padding-bottom: 25px;
    font-weight: bold;
}
#tag {
    font-size: 20px;
    font-weight: bold;
    color: red;
    padding-bottom: 25px;

}
#numberandlink {
   float: left; 
   position: relative;
   top: 37px;
   left: 25px;

}
#byline {
   font-size: 16px; 

}
#bannercherry {
    float: right;
    position: relative;
    left: 5%;

}
header {
    height: 100px;
    width: 100%;
    margin-bottom: 50px;

}
#homelink {
    text-decoration: none;
    color: black;
    float: left;
    position: relative;
    top: 37px;
}
#homelink:hover {
    color: red;

}
#nextlink, #prevlink {

}
#social {
    padding-top: 30px;

}
