/**************************************************
			      Global styles
***************************************************/

html, body {
        font-family: Helvetica, Arial, sans-serif;
	background: #fff url(../images/bg.png);
	background-repeat: repeat;
   	width:100%;
   	background-attachment: fixed;
   	margin: 0;
	padding: 0;
	}
	
header{
    padding-top: 25px;
	}

#mainContent{
	width: 100%;
	margin: 0 auto;
}

aside{
float: left;
width: 270px;
}

#navheader,#circleheader {
    font-weight: bold;
    margin-left: 1en;
    padding-left: 48px;
    font-size: 15px;
    padding-bottom: 10px;

}
#circleheader {
    position: absolute;
    left: 20px;

}
aside ul {
    -webkit-margin-before: 0px;

}
aside ul li {
/*	border-radius: 15px;
	background-color: #eee;
		padding: 8px 12px;
	margin: 10px 0 10px -15px;
*/
	width: 270px;
	list-style: none;
}

aside ul li {

}
aside ul li a{
	text-decoration: none;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 8px 10px;
}

aside ul li a:hover, a.selected{
	background-color: rgba(153,204,204,0.8);
	padding: 8px 10px;
}

@font-face {
    font-family: 'trixie-plainplain';
    src: url('/static/css/font/trixie-plain-webfont.eot');
    src: url('/static/css/font/trixie-plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/css/font/trixie-plain-webfont.woff') format('woff'),
         url('/static/css/font/trixie-plain-webfont.ttf') format('truetype'),
         url('/static/css/font/trixie-plain-webfont.svg#trixie-plainplain') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1{
	margin: 0 auto;
	width: 700px;
	font-family: 'trixie-plainplain',georgia, serif;

}

button{
	background: #000;
	padding: 20px 30px;
	border-radius: 15px;
	color: #FFF;	
	font-size: 20px;
}

.circles{
	float: left;
	width: 500px;
        position: relative;
        top: 5px;
}

.clear{
	clear: both;
}
footer{

}
#bannercherryimg {
    position: absolute;
    right: 75px;
    top: -25px;

}
