.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}
#popup {
    position: absolute;
    background-color: red;
    padding: 5px;
    color: white;
    display: none;


}
#circles {
    position: relative;

}

.link {
  stroke: red;
  stroke-opacity: .6;
}

#tooltip {
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-family: ;
    line-height: 28px;
    color: red;
    float: left;
    position: relative;
    left: 50px;
    top: 75px;

}
#searchbox {
    margin-left: 10px;
    padding-left: 10px;
    background-color: #eee;
    height: 25px;   
    width: 240px;
    border: none;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    

}
