<!doctype html>
<html>
<head>
{% load staticfiles %}
<meta charset="UTF-8">
<title>Search Stories</title>
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/viz.css" %}"/>
<script src="{% static "js/d3.min.js" %}"></script>

</head>

<body>
<header>
<img src="{% static "img/BannerCherryPlus.jpg" %}" height="180px" id="bannercherryimg"></img>
</header>

<div id="mainContent">
<aside>
<nav>
    <div id="navheader">
    PICK A FEELING:
    </div>

	    	<ul>
			    <li><a href="javascript:void(0);">I am waiting for the right person </a></li>
			    <li><a href="javascript:void(0);">I am waiting for marriage </a></li>
			    <li><a href="javascript:void(0);">I want to get it over with</a></li>
			    <li><a href="javascript:void(0);">I think everyone else is doing it</a></li>
			    <li><a href="javascript:void(0);">I don't want to be a slut</a></li>
		   		<li><a href="javascript:void(0);">I feel embarrassed </a></li>
			    <li><a href="javascript:void(0);">My religion forbids it</a></li>
			    <li><a href="javascript:void(0);">I don’t think virginity is real</a></li>
			    <li><a href="javascript:void(0);">My first time was great</a></li>
			    <li><a href="javascript:void(0);">It hurt like hell</a></li>
			    <li><a href="javascript:void(0);">My first time was casual</a></li>
			    <li><a href="javascript:void(0);">I was sexually assaulted</a></li>
			    <li><a href="javascript:void(0);">I don't feel any different</a></li>
			    <li><a href="javascript:void(0);">I’ve done everything but</a></li>
			    <li><a href="javascript:void(0);">I am a sexual person</a></li>
			    <li><a href="javascript:void(0);">Sex is not important</a></li>
			    <li><a href="javascript:void(0);">I am socially awkward</a></li>
			    <li><a href="javascript:void(0);">I hate my body</a></li>
			    <li><a href="javascript:void(0);">I missed my chance</a></li>
                            <li style="position: relative; margin-top:15px;"><input id="searchbox" type="text" value="Search"></input>
                                <img height="20px" id="magglass" src="{% static "img/magnifying_glass.png" %}"></img>
                            
                            </li>
                            <li id="recentsearch"><a href="javascript:void(0);">Show stories from past month</a></li>
   		   </ul>
     </nav>
</aside>
<div class="circles" id="circles">
<div id="circleheader">PICK A STORY:</div>
<div id="popup"></div>
</div>
<div id="tooltip"></div>

</div>
<div id="gotofilmbutton">
    <a href="http://www.virginitymovie.com"><img width="150" id="filmimg" src="{% static "img/GoToFilm.jpg" %}" /></a>
</div>
<div id="submitbutton" style="color:rgba(189,40,46,1);">
    <a href="http://www.virginitymovie.com/tell-your-story/"><img width="150" id="submitimg" src="{% static "img/SubmitLogo.jpg" %}" /> </a>
</div>
<br class="clear">
<footer>
</footer>
</body>
<script src="{% static "js/viz.js" %}"></script>

</html>
